@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@font-face  {
    font-family: 'Concert One';
    src: url('fonts/Concert_One/ConcertOne-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-regular.ttf');
}

:root   {
    --cor-1: #f2df80;
    --cor-2: #e6ce44; /* #F2C879 */
    --cor-fundo: #85495f6e;
    --cor-fundo2: #8b2c4f6e;
    --cor-fundo-borda: #57e0d7;    
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
}


i   {
    padding: 0 3px 0 3px;
    border-radius: 26%;
    margin: 10px 10px 10px 0;
    font-size: clamp(3.5em, 10vw, 4em);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.616);
}

#social-midia-desenvolvedor {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    text-align: center;
}

#social-midia-desenvolvedor  hr {
    width: 1px; 
    height: auto;
}

body    {
    -webkit-text-stroke: 0.1px black;
    font-family: 'Concert One', cursive;
    color: var(--cor-2);
    font-weight: normal;
    margin: 0 0 15px 0;
    background-color: #ffc1d8;
}

h1  {
    -webkit-text-stroke: 0.1px black;
    margin: 5px 0 5px 0;
}

h3 {
    font-size: 2em;
    margin: 5px;
    text-align: center;
}

p   {
    -webkit-text-stroke: 0 black;
    text-align: justify;
    font-size: 1em;
    margin: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

hr  {
    border-radius: 100px;
    width: 98%;
    height: 2px;
    border-color: var(--cor-2);
    background-color: var(--cor-2);
}

.back-home   {
    color: #e6ce44;
    font-size: clamp(1em, 10vw, 2.5em);
}

header  {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-1);
    border-radius: 0px 0px 10px 10px;
    border-bottom: 3.5px solid var(--cor-2);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.233);
}

main    {
    width: 85%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 5px;
    background-color: rgb(255, 251,198);
    box-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.233);
    border: 2px solid var(--cor-fundo-borda);
    
}



#apresentation  {
    max-width: 350px;
    min-width: 10px;
    width: 20vw;
}

#artes,#bpc    {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    border-radius: 20px;
    background-image: url('fundo-main.jpg')/*var(--cor-fundo2)*/;
    background-attachment: local;
    background-size: 100% 100%;
    padding-bottom: 1.5em;
    
}

#arte   {
    display: contents;
    flex-wrap: wrap;
}


#bpc > #arte > img {
    background-size: 100% 100%;
    display: inline;
    max-width: 500px;
    min-width: 100px;
    max-height: 400px;
    width: 20%;
    height: 45vh;
    border-radius: 10px;
    border: 2px solid #57e0d7;
    margin: 10px 10px 0 10px;
    transition: 0.5s;
    filter: brightness(80%);
    filter: saturate(70%);
    box-shadow: 0px 0px 7px black;
}

@media (min-width: 750px)    {
    #bpc #arte img:hover   {
        transform: scale(1.05);
        filter: brightness(100%);
        filter: saturate(100%);
        box-shadow: 0px 0px 2px black;
    }
}


@media (max-width: 750px)   {
    #artes,#bpc, main    {
        width: 92%;
        padding: 5px 0px 5px 0px;
    }

    #artes,#bpc   {
        background-image: url('fundo-main2.jpg')/*var(--cor-fundo2)*/;
        background-attachment: local;
        background-size: 100% 50%;
        border-radius: 0 0 10px 10px;
    }

    h1  {
        margin: 10px 0 10px 6px;
    }

    p   {
        margin: 6px;
    }

    #bpc #arte img {
        filter: brightness(100%);
        filter: saturate(100%);
        margin: 10px 0 10px 0;
        width: 80%;
        height: 50vh;
        max-height: 500px;
    }

    #artes #arte div div img {
        min-width: auto;
        margin: 0 0 0 0;
    }

    #social-midia-desenvolvedor  hr {
        width: 100%; 
        height: 1px;
    }
    #social-midia-desenvolvedor {
        flex-direction: column;
    }
}


#artes #arte {
    max-width: 1920px;
    margin: 12px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#artes #arte div div   {
    justify-content: space-around;
    margin: 10px 100px 0px 100px;
    transition: 0.1s;
    max-width: 100px;
    max-height: 100px;
    background-color: white;
    border-radius: 50%;
    padding:10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.616);
    border: 5px solid wheat;
}

#artes #arte div div:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

#artes #arte div div img {
    min-width: auto;
    margin: 0 0 0 0;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 100%;
}